<div class="container">
  <h2 class="text-center"><%= @temp.name %></h2>
  <h3 class="text-center"><%= @temp.min %>~<%= @temp.max %>°Cのときのコーデ</h3>
  <h4 class="text-center">
    <% @temp.temps_category.each do |category| %>
      <span class="badge badge-info"><%= category.name %></span>
    <% end %>
  </h4>
  <% if @temp.user == current_user %>
    <div class="row">
      <div class="col-6">
        <h4 class="text-center">登録済みカテゴリー</h4>
        <% @temp.temps_category.each do |category| %>
          <h5 class="text-center"><%= category.name %></h5>
          <%= render 'relationship_temps/untemp_button', temp: @temp, category: category %>
        <% end %>
      </div>
      <hr>
      <div class="col-6">
        <h4 class="text-center">未登録のカテゴリー</h4>
        <% current_user.categories.each do |category| %>
          <% unless @temp.have_category?(category) %>
            <h5 class="text-center"><%= category.name %></h5>
            <%= render 'relationship_temps/temp_button', temp: @temp, category: category %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>