<div class="alert alert-light" style="margin:0; padding: 3px; color:#000">
  <h2 id="weather_data">今日の東京の天気:
     <span id="icon"><img id="wicon" src="" alt="Weather icon"></span>
     <span id="now_temp"></span>
   </h2>
</div>

<div class="top-image-box">
  <img src="/assets/cloth.jpg" alt="服の画像" class="cloths-image">

  <% if logged_in? %>
    <%= form_with(url: root_path, method: :get, local: true) do |f| %>
      <%= f.hidden_field :degree, id: 'degree_form' %>
      <%= f.submit '現在の気温からコーデを提案', class: 'btn btn-warning now-code-button' %>
    <% end %>
  <% end %>
</div>

  <% if logged_in? %>
    <% if @degree.present? %>
      <h3 class="suggest"><%= @degree %>度のコーデ</h3>
      <% if @cloths.present? %>
        <h4 class="suggest">「<%= @temp.name %>」からの提案</h4>
        <ul class="cloths">
          <%= render 'cloths/cloths', cloths: @cloths %>
        </ul>
      <% else %>
        <p style="text-align:center;">提案できるコーデがありません</p>
      <% end %>
    <% end %>
  <% end %>
  
<div class="how-to-use">
  <h2>簡単3ステップで自動でその日のコーデを提案！</h2>
  <div class="step" style="text-align:center;">
    <h3>1.まずは服を追加</h3>
    <img src="assets/add_cloths.png" alt='服の追加'><br>
    <% if logged_in? %>
      <%= link_to '服を追加', new_cloth_path, class: 'btn btn-danger mt-3' %>
    <% end %>
  </div>
  <div class="step" style="text-align:center;">
    <h3>2.服をカテゴライズ</h3>
    <img src="assets/categorize.png" alt="カテゴライズ">
  </div>
  <div class="step" style="text-align:center;">
    <h3>3.気温パターンを作る</h3>
    <img src="assets/temp.png" alt="天気パターン">
  </div>
</div>