<div class="container">
  <h4>
    <img class="mr-2 rounded" src="<%= gravatar_url(@post.user, { size: 50 }) %>" alt="">
    <%= @post.user.name %>
    <span class="text-muted"><%= l @post.created_at %></span>
  </h4>
  <div class="row">
    <div class="col-4">
      <%= image_tag @post.image.url, class: "post-image" %>
    </div>
    <div class="col-8">
      <%= @post.description %>
    </div>
  </div>
  <% if logged_in? %>
    <%= render 'favorites/favo_button', post: @post %>
  <% end %>
  <h2>このコーデに含まれる服</h2>
  <ul class="cloths">
    <%= render 'cloths/cloths', cloths: @post.wearing_cloths %>
  </ul>
  
  <% if current_user == @post.user %>
    <h4><%= link_to '投稿を編集', edit_post_path(@post), class: 'btn btn-success' %></h4>
  <% end %>
</div>