<%= form_with(model: @cloth, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :image, '画像をアップロード' %>
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :name, '名称' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit 'アップロードする'%>
<% end %>

<ul>
<% @cloths.each do |cloth| %>
  <li>
    <%= cloth.name %><br>
    <% if cloth.image? %>
      <%= image_tag cloth.image.url, class: 'image' %><br>
    <% end %>
    <% if current_user == cloth.user %>
      <%= link_to "Delete", cloth, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
<% end %>
</ul>