<h2><%= @cloth.name %></h2>
<% if @cloth.image? %>
  <%= image_tag @cloth.image.url, class: 'image' %>
<% end %>

<% if current_user == @cloth.user %>
  <% current_user.categories.each do |category| %>
    <%= category.name %>
    <%= render 'relationship_category/categorize_button', cloth: @cloth, category: category %>
    <%= link_to "Delete", category, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
  <% end %>
<% end %>